/* .section {
    margin-top: 5%;
} */
.section {
    margin-top:0;
    padding-top:0;
}

#images {
    margin-bottom: 5%;
    margin-top: 5%;
}

footer div img {
    width: 150px;
}

.estateAgents {
    margin-top: -7px;
    padding-top: -7px;
}

.title span {
    border-right: .05em solid;
    animation: indicator 1s steps(1) infinite;
}

.is-vertical-center {
    display: flex;
    align-items: center;
}

.hero-has-padding {
    /* padding-left: 5%;
    padding-right: 5%; */
    padding: 5%
}

@keyframes indicator {
    50% {
        border-color: transparent;
    }
}
